# See http://help.github.com/ignore-files/ for more about ignoring files.


# compiled output
/dist
/tmp
/out-tsc


# dependencies
/node_modules


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings


# System Files
.DS_Store
Thumbs.db

# Database file 
*.ldf

!.vs/backend/v15/Server/sqlite3/storage.ide-shm
!.vs/backend/v15/Server/sqlite3/storage.ide-wal
!backend/quizdb.mdf
!dont track.txt
!.vs/backend/v15/.suo
!.vs/config/applicationhost.config
!backend/backend.csproj.user
!backend/bin/Debug/netcoreapp2.0/backend.deps.json
!backend/bin/Debug/netcoreapp2.0/backend.dll
!backend/bin/Debug/netcoreapp2.0/backend.pdb
!backend/bin/Debug/netcoreapp2.0/backend.runtimeconfig.dev.json
!backend/obj/Debug/netcoreapp2.0/backend.csproj.CoreCompileInputs.cache
!backend/obj/Debug/netcoreapp2.0/backend.csproj.FileListAbsolute.txt
!backend/obj/Debug/netcoreapp2.0/backend.dll
!backend/obj/Debug/netcoreapp2.0/backend.pdb
!backend/obj/backend.csproj.nuget.cache
!backend/obj/backend.csproj.nuget.g.props
!backend/obj/backend.csproj.nuget.g.targets
!backend/obj/project.assets.json
!backend_xunit/obj/Debug/netcoreapp2.0/backend_xunit.csproj.CoreCompileInputs.cache
!backend_xunit/obj/Debug/netcoreapp2.0/backend_xunit.csproj.FileListAbsolute.txt
!backend_xunit/obj/backend_xunit.csproj.nuget.cache
!backend_xunit/obj/backend_xunit.csproj.nuget.g.props
!backend_xunit/obj/backend_xunit.csproj.nuget.g.targets
!backend_xunit/obj/project.assets.json
!package-lock.json
!package.json
