<mat-card>
  <mat-card-title>
    <span *ngIf="quiz.id">Edit Quiz</span>
    <span *ngIf="!quiz.id">New Quiz</span>
  </mat-card-title>
  <mat-card-content>
    <form>
      <mat-form-field class="fullWidth">
        <input required [(ngModel)]="quiz.title" name="title" matInput placeholder="Quiz Title">        
        <mat-form-field>
          <mat-select required placeholder="Quiz Level" [(value)]="quiz.level">
            <mat-option *ngFor="let level of levels; let i = index" [value]="i">
              {{level}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="quiz.id" (click)="put(quiz)" mat-button>EDIT</button>
    <button *ngIf="quiz.id" (click)="delete(quiz)" mat-button>DELETE</button>
    <button *ngIf="quiz.id" (click)="quiz = {}" mat-button>NEW</button>
    <button *ngIf="!quiz.id" (click)="post(quiz)" mat-button>POST</button>
    <button *ngIf="quiz.id" [routerLink]="['/question', quiz.id]" mat-button>EDIT QUESTIONS</button>
  </mat-card-actions>
</mat-card>
<mat-card>
  <mat-card-content>
    <mat-list *ngFor="let quiz of quizzes">
      <mat-list-item class="clickLink" (click)="api.selectQuiz(quiz)"> {{quiz.title}} </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>