<mat-card>
  <form [formGroup]="form" (ngSubmit)="login()">
    <div class="example-container">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="email.invalid">{{ this.exceptionHandler.getEmailErrorMsg(form.controls.email)}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password">
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!form.valid">Login</button>
    </div>
  </form>
</mat-card>