<mat-toolbar>  
  <button mat-button routerLink='/play'>Play</button>
  <button *ngIf="auth.isAuthenticated" mat-button routerLink='/quiz'>Quiz</button>
  <span style="flex: 1 1 auto;"></span> 

  <button mat-button [matMenuTriggerFor]="menu" *ngIf="!auth.isAuthenticated">
    Account
  </button>
  <button mat-button [matMenuTriggerFor]="menu" *ngIf="auth.isAuthenticated">
    Account ({{auth.whoAmI}})
  </button>  
  <mat-menu #menu="matMenu">
    <button mat-menu-item  *ngIf="!auth.isAuthenticated" routerLink='/register'>      
      <span>Register</span>
    </button>
    <button mat-menu-item *ngIf="!auth.isAuthenticated" routerLink='/login'>
      <span>Login</span>
    </button>
    <button mat-menu-item *ngIf="auth.isAuthenticated" (click)="auth.logout()">
      <span>Logout</span>
    </button>
    <button mat-menu-item *ngIf="auth.isAuthenticated" routerLink='/deleteAccount'>
      <span>Delete Account</span>
    </button>
  </mat-menu>

</mat-toolbar>
