<mat-card>
  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password" >
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="New Password" formControlName="newPassword" >
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirmed New Password" formControlName="confirmNewPassword" >
    </mat-form-field>
    <div class="alert alert-danger" *ngIf="form.controls.confirmNewPassword.errors?.MatchPassword">Password not match</div>
    <button mat-raised-button color="primary" [disabled]="!form.valid">Change Password</button>
  </form>
</mat-card>