<mat-card>
  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <div class="example-container">
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required>        
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="New Password" formControlName="newPassword" required>        
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Confirmed New Password" formControlName="confirmNewPassword" required>        
        <mat-error *ngIf="form.controls.confirmNewPassword.errors?.MatchPassword">Password not match</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!form.valid">Change Password</button>
    </div>
  </form>
</mat-card>