<mat-card>
  <form [formGroup]="form" (ngSubmit)="register()">
    <div class="example-container">
      <mat-form-field>
        <input matInput type="email" placeholder="Email" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{ this.exceptionHandler.getEmailErrorMsg(email) }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
      </mat-form-field>
      <button mat-raised-button color="primary" [disabled]="!form.valid">Register</button>
    </div>
  </form>
</mat-card>